<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GaboSite</title>
    <meta name="description"
        content="Descubre nuevas palabras y amplía tu repositorio. Palabras místicas  de la semana: Chingao y Malaje ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Mulish:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="shortcut icon" href="#">
    <script src="https://kit.fontawesome.com/a515c8cc7e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="encabezado">
        <div class="contenedor-navegacion">
            <div class="contenido-navegacion contenedor">
                <div class="logo">
                    <h2>
                        <a href="/index.html">La <span class="verde">Ga</span><span>zze</span><span
                                class="rojo">tta</span>
                            de la UHU</a>
                    </h2>
                </div>
                <nav class="navegacion ocultar">
                    <a href="/index.html">
                        Inicio
                    </a>
                    <a href="AboutUs.html">
                        Sobre Nosotros
                    </a>
                    <a href="contenidoWeb.html">
                        Palabras de la Semana
                    </a>
                </nav>
                <div class="hamburguesa">
                    <span></span><span></span><span></span>
                </div>
            </div>
        </div>

    </header>
    <div class="palabrasContenedor">
        <div class="texto-nosotros">
            <h1>Palabras de la Semana:</h1>
            <ul>
                <li>
                    <span class="palabra">Chingao:</span>
                    <p>
                        La palabra "chingao" es una expresión en español que tiene diversos significados y usos en
                        diferentes regiones. Es una palabra coloquial y puede variar en tono y connotación dependiendo
                        del contexto y la entonación con la que se utilice.
                    </p>
                    <p>
                        <span class="verde">Origen:</span>
                        La palabra "chingao" tiene sus raíces en el español mexicano y ha evolucionado con el tiempo.
                    </p>
                </li>

                <li>
                    <span class="palabra">Malaje:</span>
                    <p>
                        La palabra "malaje" se utiliza para describir a una persona astuta, maliciosa o que actúa con malicia.
                         Se refiere a alguien que tiene un comportamiento sagaz, ingenioso o que tiende a hacer cosas con un toque de malicia o picardía. Puede tener connotaciones positivas o negativas dependiendo del contexto.
                    </p>
                    <p>
                        <span class="verde">Origen:</span>
                        La palabra "malaje" no tiene un origen etimológico específico reconocido, pero se cree que proviene
                         de la combinación de las palabras "mal" y "aje".  Es una palabra que ha surgido y evolucionado en el habla 
                         coloquial de algunas regiones hispanohablantes
                    </p>
                </li>
            </ul>

        </div>
    </div>




    <div class="separador">
        <div class="contenido-separador contenedor">
            <h2>ACERCA DE NOSOTROS</h2>
            <p>Conoce nuestra historia y descubre la pasión que impulsa la Gazzeta UHU.</p>
            <p>¡Únete y atrévete a explorar con nosotros!</p>
            <a href="AboutUs.html" class="btn btn-verde">About Us</a>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>